@font-face {
  font-family: "alexbrush-regular";
  src:
    url("fonts/AlexBrush-Regular.woff") format("woff"),
    url("fonts/AlexBrush-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Base */
:root {
  font-family: system-ui, Roboto, Arial, sans-serif;
  --color-pale: #b1916e;
  --color-pale-darker: #423424;
  --color-orange: #f0b429;
  --color-brown-dark: #664400;
  --color-red: #fc2121;
  --base-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

body {
  min-height: 100vh;
  width: 100%;
}

header button {
  color: #fff;
  background-color: var(--color-pale);
  border: 0;
  border-radius: 10px;
  box-shadow: var(--base-box-shadow);
}

button:hover {
  background-color: var(--color-pale-darker);
}

button:active {
  transition-property: transform;
  transition-duration: 50ms;
  transform: translate(2px, 2px);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  gap: 15px;
}

h1 {
  font-family: alexbrush-regular;
  font-size: 4rem;
  color: var(--color-orange);
}

#new-book-btn {
  width: 120px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* New book dialog */
.dialog {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  min-width: 350px;
  border: 1px solid;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

form {
  display: inline-block;
  padding: 1em;
}

/* Form header */
.form-header {
  display: grid;
  grid-row: 1fr;
  grid-column: 1fr 3fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #999;
}

.form-header p {
  grid-column: 2 / 3;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.form-header img {
  grid-column: 1 / 2;
  width: auto;
  height: 2.5rem;
}

/* Form content */
p {
  margin-top: 1em;
}

label {
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  padding: 5px 5px 5px 0;
  height: 30px;
}

input,
textarea {
  font: 0.9rem sans-serif;
  padding: 4px;
  min-width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 2px;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: black;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.dialog-buttons {
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  gap: 46px;
}

.dialog-buttons > button {
  width: 100px;
  height: 36px;
  padding: 4px;
  font-size: 1rem;
}

/* Validation feedback */
.feedback {
  margin: 2px 0 0 2px;
  color: var(--color-red);
  font-size: 0.7rem;
  position: absolute;
  z-index: 1;
  display: none;
}

/* Books cards */
.books-cards {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.books-container {
  max-width: 900px;
  margin-top: 32px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 30px;
}

.book-buttons {
  margin-top: auto;
  margin-bottom: 0 !important;
  padding: 1rem 0;
  display: flex;
  justify-content: left;
  gap: 10px;
}

.book-buttons > button {
  width: 70px;
  height: 28px;
  padding-top: 2px;
  font-size: 0.7rem;
  border: 0;
  border-radius: 5px;
  box-shadow: var(--base-box-shadow);
}

.book {
  width: 250px;
  padding: 10px 10px 10px 16px;
  border-left: solid 4px var(--color-orange);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--color-brown-dark);
  text-decoration: underline;
}

.title ~ div {
  margin-bottom: 4px;
}

.comments {
  padding: 8px 0;
}
