@font-face {
  font-family: "alexbrush-regular";
  src:
    url("fonts/AlexBrush-Regular.woff") format("woff"),
    url("fonts/AlexBrush-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Base */
:root {
  font-family: system-ui, Roboto, Arial, sans-serif;
  --color-pale: #b1916e;
  --color-pale-darker: #423424;
  --color-orange: #f0b429;
  --color-gray: #e2e8f0;
  --base-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-column: 1fr;
}

button {
  width: 100px;
  height: 40px;
  font-size: 1rem;
  padding: 8px;
  color: #fff;
  background-color: var(--color-pale);
  border: 0;
  border-radius: 10px;
  box-shadow: var(--base-box-shadow);
}

button:hover {
  background-color: var(--color-pale-darker);
}

button:active {
  transition-property: transform;
  transition-duration: 50ms;
  transform: translate(2px, 2px);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

h1 {
  font-family: alexbrush-regular;
  font-size: 3rem;
  color: var(--color-orange);
}

/* New book dialog */
.dialog {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  min-width: 350px;
  height: 60vh;
  border: 1px solid;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

form {
  display: inline-block;
  padding: 1em;
}

/* Form header */
.form-header {
  display: grid;
  grid-row: 1fr;
  grid-column: 1fr 3fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #999;
}

.form-header p {
  grid-column: 2 / 3;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.form-header img {
  grid-column: 1 / 2;
  width: auto;
  height: 2.5rem;
}

/* Form content */
p {
  margin-top: 1em;
}

label {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  padding: 5px;
  height: 30px;
}

input,
textarea {
  font: 0.8rem sans-serif;
  padding: 4px;
  min-width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 2px;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: black;
}

textarea {
  margin-bottom: 21px;
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

/* Form footer */
.form-footer {
  padding: 1rem;
  border-top: 1px solid #999;
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Books cards */
.books-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.book {
  padding: 30px 26px 30px 22px;
  /* border-left: solid 5px var(--color-orange); */
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
}
